@font-face {
  font-family: DosisBold;
  src: url(Dosis-Bold.ttf);
}

@font-face {
  font-family: DosisLight;
  src: url(Dosis-Light.ttf);
}

:root {
  --dark-blue: #07242B;
  --medium-blue: #053C48;
  --light-blue: #6AE3F9;
  --gray: #1A2026;
}


body{
  margin: 0px;
  padding: 0px 30px;
  min-width: 200px;
  background-color: var(--dark-blue);
  border: solid var(--medium-blue) 3px;
}

h1 {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 0px;
}

h2 {
  font-style: italic;
  font-weight: lighter;
  font-size: 20px;
  margin-top: 0px;
  font-family: DosisLight;
}

#content_header {
  color: var(--light-blue);
  font-family: DosisBold;
}

#content_tag{
  background-color: var(--gray);
  margin: 0px;

  padding: 10px;
}

#content_body {
  color: var(--gray);
  background-color: whitesmoke;
  font-family: DosisLight;

  padding: 10px;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  min-height: 50px;
}

button{
  border: 1px solid var(--light-blue);
  border-radius: 5px;
  background-color: var(--dark-blue);
  font-family: DosisLight;

  padding: 5px 10px;

  transition-duration: .3s;

  color: var(--light-blue);
}

button:hover{
  background-color: #075263;
  cursor: pointer;
}

input {
  border: 2px solid white;
  border-radius: 5px;
  background-color: transparent;
  padding: 5px 10px;

  color: white;

  transition-duration: .3s;
}

input:hover{
  background-color: white;
  color: black;
}

input:focus{
  border: 3px solid white;
  background-color: white;
  color: black;
}

.tag {
  border: 7px solid var(--dark-blue);
  border-radius: 50px;
  background-color: var(--medium-blue);
  font-family: DosisBold;

  text-align: center;

  padding: 7px;

  margin: 10px;

  color: var(--light-blue);

  position: relative;
}

.btn_del{
  width: 20px;
  height: 20px;

  border-radius: 100px;

  transition-duration: .3s;

  background-color: transparent;

  position: absolute;
  right: 10px;
  top: 7px;
}

.tag:hover .btn_del{
  background-color: red;
}

.btn_del:hover{
  cursor: pointer;
  background-color: rgb(255, 146, 146)!important;
}